<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Movie.Properties.Settings.Elokuva" connectionString="Server=eight.labranet.jamk.fi;Database=H9577_2;User=H9577;Password=fkkpAUwdqhq9aC5Tk3O7EKPvChCezpV2;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>